.navbar {
    padding: 15px 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;

    ul {
        padding: 0;

        li {
            display: inline;
            list-style: none;
            margin: 0px 10px;


        }
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: gray
        }
    }

    .profile {
        color: white;
        display: flex;
        padding-right: 30px;

        .avatar {
            margin-right: 30px;
        }
    }
}